<!DOCTYPE html>

<html>
  <head>
    <title>Hi, I'm Robert Kim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Hi, I'm Robert Kim.">
    <meta property="og:description" content="This is my personal site. Enjoy your stay!">
    <meta property="og:url" content="https://robertkim.io">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" type="text/css" href="{{ host }}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="content">
        <div id="intro">
          <h1 id="hello">Hi, I'm Robert Kim!</h1>
          <p>
            | <a href="/resume.pdf">Resume</a> | 
            <a href="http://blog.robertkim.io">Blog</a> | 
            <a href="https://github.com/rkty13">Github</a> | 
            <a href="https://linkedin.com/in/roberttykim">Linkedin</a> | 
            <a href="mailto:me@robertkim.io">Email</a> |
          </p>
        </div>
        <section>
          <p>I'm a full stack software engineer based in Brooklyn, New York. I enjoy listening to many genres of <a href="https://open.spotify.com/user/124613413">music</a> (currently digging Julie London) and exploring new areas of the city. I am passionate about learning, and I work hard to get things done.</p>
          <p>Feel free to get in touch with me through email!</p>
        </section>
        <hr />
        <footer>
          <p id="scrobble"><span id="scrobble_pre">Currently listening to</span> <span id="scrobble_title">...</span> by <span id="scrobble_artist">...</span>.</p>
          <p id="copyright">Copyright © 2017 Robert Kim. Made with <span id="heart">&lt;3</span>, <span id="coffee">coffee</span>, and <span id="sleep">sleep</span> in <span>New York</span>.</p>
        </footer>
      </div>
    </div>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57051667-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-57051667-2');
  </script>
  <script type="text/javascript">
    var request = new XMLHttpRequest();
    request.open("GET", "https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=rkty13&api_key={{ scrobble_key }}&format=json&limit=1", true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        var data = JSON.parse(request.responseText);
        var recent = data.recenttracks.track[0];
        if (!recent.hasOwnProperty("@attr")) {
          document.getElementById("scrobble_pre").textContent = "Most recently listened to";
        }
        document.getElementById("scrobble_title").textContent = recent.name;
        document.getElementById("scrobble_artist").textContent = recent.artist["#text"];
      } else {
        console.error("Current track could not be loaded.");
        document.getElementById("scrobble").innerHTML = "Not listening to any music at the moment.";
      }
    };
    request.onerror = function() {
      console.error("Current track could not be loaded.");
      document.getElementById("scrobble").innerHTML = "Not listening to any music at the moment.";
    };
    request.send();
  </script>
</html>
